.Container {
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    padding: 10px;
}

.contact-container {
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    padding: 30px;
}

.project-container {
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    padding: 30px;
    text-align: center;
}
